.main {
  height: calc(100vh - 100px);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 40px;
      width: 50%;
      transition-duration: 1.8s;

      h2 {
        font-size: 50px;
        letter-spacing: 8px;
        color: white;
      }

      h1 {
        font-size: 80px;
        color: white;
      }

      .buttons {
        display: flex;
        gap: 1rem;
        color: white;

        :hover {
          background-color: aliceblue;
          transition-duration: 2s;
          color: black;
        }
        button {
          padding: 20px;
          border: 1px dashed whitesmoke;
          border-radius: 10px;
          background-color: transparent;
          font-size: medium;
          cursor: pointer;
          transition-duration: 2s;
          color: white;
        }
      }
    }
  }

  .activeTextContainer {
    translate: 50%;
  }

  .mainIconContainer {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .subIconContainer {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
  }

  .icon {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  #html {
    transition-duration: 1.5s;
    color: rgb(40, 112, 229);
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #css {
    transition-duration: 1.5s;
    color: orangered;
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #javascript {
    transition-duration: 1.5s;
    color: yellow;
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #react {
    transition-duration: 1.5s;
    color: skyblue;
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #bootstrap {
    transition-duration: 1.5s;
    color: blueviolet;
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #sass {
    transition-duration: 1.5s;
    color: pink;
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #tailwind {
    transition-duration: 1.5s;
    color: rgb(92, 215, 253);
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #supabase {
    transition-duration: 1.5s;
    color: lightgreen;
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }

  #java {
    transition-duration: 1.5s;
    color: rgb(0, 51, 255);
    &:hover {
      transform: scale(1.5);
      transition-duration: 1.5s;
    }
  }
}
