.main {
  height: calc(100vh - 100px);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 40px;
      width: 50%;
      transition-duration: 1.8s;

      h2 {
        font-size: 50px;
        letter-spacing: 8px;
      }

      h1 {
        font-size: 80px;
      }

      .buttons {
        display: flex;
        gap: 1rem;

        :hover {
          background-color: aliceblue;
          transition-duration: 1.5s;
        }
        button {
          padding: 20px;
          border: 1px dashed whitesmoke;
          border-radius: 10px;
          background-color: transparent;
          font-size: medium;
          cursor: pointer;
          transition-duration: 1s;
        }
      }
    }
  }

  .activeTextContainer {
    translate: 50%;
  }

  //   .imageContainer {
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     right: 20%;
  //   }
}
